{% extends "layout2.html" %}
{% block body %}
<div class = "jumbotron">
<h3 class="text-center">Who Am I?</h3>
<hr>
Hi, my name is Hazar Karagöz, and I am nineteen years old. I have been living in Ankara since I was born. However, my father is from Kütahya, so ı am from Kütahya officially too. I graduated from a high school called Kampüs Koleji. Currently, I am studying Business Administration at Middle East Technical University. Additionally, I have been learning programming languages to set up my carrier as Data Analyst since my preparation year in METU. Playing ping-pong, an 8-ball pool, soccer, and driving a go-kart are some of my hobbies. Also, I have been playing flute since I was about 14 or 13 aged. I don’t listen to a particular music type, but I mostly listen to rap, hip-hop, and trap. Some of my favorite singers are Şanışer, Aspova, and Ozbi. You can reach me via my email address if you want to.
<p>Email address: 1511hazar@gmail.com</p>
<hr>
</div>
{% endblock body %}