{% extends "layout2.html" %}
{% block body %}
<div class="jumbotron">
    <h3 class="text-center">Welcome!</h3>
    <hr>This website is being developed by a ordinary student who studies at Middle East Technical University in Turkey and whose major is Business Administration. 
    This is currently a trial website; however, it will continue to be developed as soon as the developer finds some leisure time. 
    The website is going to include funny and ridiculous stories and their links at soccer TV shows 
    called Beyaz Futbol and Derin Futbol.<hr>
</div>
{% endblock body %}