{% extends "layout2.html" %}
{% block body %}
    {% from "includes/formhelpers.html" import render_field %}
    {% if session["username"] %}
        <div class="alert alert-danger">Please log out first!</div>
    {% else %}
    <h3>Registeration</h3>
    <hr>
    <form method="post">
        {{render_field(form.name, class="form-control")}}
        {{render_field(form.lastname, class="form-control")}}
        {{render_field(form.username, class="form-control")}}
        {{render_field(form.email, class="form-control")}}
        {{render_field(form.password, class="form-control")}}
        {{render_field(form.repassword, class="form-control")}}
        <button type="submit" class="btn btn-dark">Submit</button>  
    </form>
    {% endif %}
{% endblock body %}